@import "tailwindcss";

@theme {
    --color-primary: #00bba7;
    --color-secundary: #ff8904;
    --color-tertiary: #8e51ff;
    --color-default: #6a7282;
}

*{
    box-sizing: border-box;
}

.page-title{
    font-size: var(--text-3xl) /* 1.875rem = 30px */;
    line-height: var(--tw-leading, var(--text-3xl--line-height));
}